.content-container {
    margin : 0 auto;
    padding: 0 $m-size;
    max-width: 66%;
    animation: fadein 1s;
}

.content-container__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-container__center {
    display: flex;
    justify-content: center;
}